<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mediaddict</title>

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/global.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>

<body>
	<header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/search">Mediaddict</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <%= typeof page !== 'undefined' && page === 'entries' ? 'active' : '' %>"> </li>
				<li class="nav-item"> </li>
			</ul>
			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item">
					<a class="nav-link" href="/search">  <i class="fas fa-search"></i> Search </a>
				</li>
				<% if(!currentUser){ %>
					<li class="nav-item">
						<a class="nav-link" href="/users/register"> <i class="fas fa-user-plus"></i> Sign-up </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i>
							Login</a>
					</li>
				<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="#"> <i class="fas fa-user"></i> <%= currentUser.username %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>
				<% } %>
			</ul>
		</div>
	</nav>
	</header>
	<div class="container flash-top">
	 <% if(error && error.length > 0) { %>
	   <div class="alert alert-danger"><p><%=error %></p></div>
	 <% } %>
	 
	 <% if(success && success.length > 0) { %>
	   <div class="alert alert-success"><p><%= success %></p></div>
	 <% } %>
	</div>


