<% include ../partials/header %>
    <header class="jumbotron" style="padding:1rem">
        <div class="container">
            <h1> Welcome To Mediaddict!</h1>
            <p>View our hand-picked entries from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/new-entry"><i class="fas fa-file mr-3"></i>Add New Entry </a>
            </p>
            <p>
                <form action="/search" method="GET" class="form-inline" id="entry-search">
                    <div class="form-group" style="min-width:100%">
                        <input type="text" name="name" placeholder="Entry search..." class="form-control" style="min-width:100%">
                    </div>

                </form>

            </p>
        </div>
    </header>
    <div class="container">
        <div class="row text-center flex-wrap" id="entry-grid">
            <% entries.forEach(function(entry){ %>
                <div class="col-md-2 col-sm-3">
                    <div class="thumbnail">
                        <% if (typeof entry.image !== 'undefined') { %>
                            <a href="/entry/<%= entry._id %>"> <img class="poster-showcase" src="<%= entry.image %>"> </a>
                            <% } %>
                                <!-- <div class="caption">
                         <h4><%= entry.name %></h4>
                        </div> 
                         <p> 
                               <a href="/entry/<%= entry._id %>" class="btn btn-primary">More Info</a>
                        </p> -->
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <style>
    .poster-showcase {
        box-shadow: 0px 0px 10px 0px grey;
        border-style: solid;
        border-color: white;
    }

    .poster-showcase:hover {

        box-shadow: 0px 0px 10px 0px black;
    }
    </style>
    <!-- Custom JS for search feature -->
    <script src="/scripts/search.js" async defer></script>
    <% include ../partials/footer %>